<div class="form-outline " >
  <input class="input rounded-1 shadow-sm" placeholder="Поиск" [(ngModel)]="search">
</div>
<div class="container mt-4">
  <div class="containerLists">
    <div class="mediaList">
      <app-item  *ngFor="let movieTheatre of movieTheatres | searchPipe:search" [item]="movieTheatre"></app-item>
      <div *ngIf="loading; else canGetMore" class="loader justify-content-center"></div>
      <ng-template #canGetMore>
        <button (click)="loadNext()">Загрузить ещё</button>
      </ng-template>
    </div>
    <div class="mediaList">
      <app-item *ngFor="let theatre of (theatres$ | async) | searchPipe: search; trackBy: trackByFn" [item]="theatre"></app-item>
      <div *ngIf="loading; else canGetMore" class="loader justify-content-center"></div>
      <ng-template #canGetMore>
        <button (click)="loadNext()">Загрузить ещё</button>
      </ng-template>
    </div>
  </div>
</div>


