<mat-form-field class="centered search-input" appearance="fill">
  <mat-label>Поиск по сайту</mat-label>
  <input matInput type="text" [(ngModel)]="search">
  <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div class="container">
  <div class="container-lists">
    <div class="media-list">
      <app-item [@instance] *ngFor="let movieTheatre of movieTheatres | searchPipe:search; trackBy: trackByFn" [item]="movieTheatre"></app-item>

      <div *ngIf="!allMTLoaded">
        <div *ngIf="loadingM; else canGetMore" class="centered">
          <mat-spinner class="loading"></mat-spinner>
        </div>

        <ng-template #canGetMore>
          <button class="centered" mat-raised-button color="primary" (click)="loadMovieTheatres()">Загрузить ещё</button>
        </ng-template>
      </div>
  </div>

    <div class="media-list">
      <app-item [@instance] *ngFor="let theatre of theatres | searchPipe: search; trackBy: trackByFn" [item]="theatre"></app-item>

      <div *ngIf="!allTLoaded">
        <div *ngIf="loadingT; else canGetMoreT" class="centered">
          <mat-spinner class="loading"></mat-spinner>
        </div>

        <ng-template #canGetMoreT>
          <button class="centered" (click)="loadTheatres()">Загрузить ещё</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>

