<mat-toolbar *ngIf="errorMessage as err" color="warn">
  <span class="centered">{{err}}</span>
</mat-toolbar>

<mat-form-field class="centered search-input" appearance="fill">
  <mat-label>Поиск по сайту</mat-label>
  <input matInput type="text" [(ngModel)]="search">
  <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div class="container-lists">
  <div class="media-list">
    <app-item *ngFor="let movieTheatre of (movieTheatres$ | async) | searchPipe: search; trackBy: trackByFn"
              [item]="movieTheatre" [@instance]>
    </app-item>

    <ng-container *ngIf="(loadingMT$ | async); else canGetMoreTemplate">
      <mat-spinner class="loading"></mat-spinner>
    </ng-container>

    <ng-template #canGetMoreTemplate>
      <button *ngIf="!allMTLoaded" class="centered" mat-raised-button color="primary" (click)="loadMovieTheatres()">Загрузить ещё</button>
    </ng-template>
  </div>

  <div class="media-list">
    <app-item *ngFor="let theatre of (theatres$ | async) | searchPipe: search; trackBy: trackByFn"
              [item]="theatre" [@instance]>
    </app-item>

    <ng-container *ngIf="(loadingT$ | async); else canGetMoreTemplate1">
      <mat-spinner class="loading"></mat-spinner>
    </ng-container>

    <ng-template #canGetMoreTemplate1>
      <button *ngIf="!allTLoaded" class="centered" mat-raised-button color="primary" (click)="loadTheatres()">Загрузить ещё</button>
    </ng-template>
  </div>
</div>

